---
layout: default
title: Clarissa Gunawan | Portfolio
inprogress_projects:
  emberNet:
    title: emberNet
    subtitle: forest fire detection
    link: /portfolio/emberNet
    image: /assets/thumbnails/emberNet.jpeg
previous_projects:
  medispenser:
    title: medispenser
    subtitle: medication adherence
    link: /portfolio/medispenser
    image: /assets/thumbnails/medispenser.png
  3D Import Export:
    title: 3D Import Export
    subtitle: trade visualization
    link: /portfolio/3d_import_export
    image: /assets/thumbnails/3d_import_export.jpg
  Savvy Bulb:
    title: Savvy Bulb
    subtitle: control light from app
    link: /portfolio/savvy-bulb
    image: /assets/thumbnails/savvy-bulb.jpg

---

<div id="portfolio" class="pl-5">
  <div class="row">
    <h5 class="title">IN PROGRESS</h5>
  </div>
  <div class="row in-progress mb-3">
    {% for project in page.inprogress_projects %}
      <div class="col-lg-3 col-md-4 col-sm-6 p-3 my-3 mr-4 card text-center">
        <a href="{{ project[1].link }}">
          <img src="{{ site.baseurl }}{{ project[1].image }}" class="card-img-top img-fluid" alt="..." />
          <div class="card-img-overlay">
            <h5 class="card-title">{{ project[1].title }}</h5>
            <p class="card-text title">{{ project[1].subtitle | upcase }}</p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
  <hr>
  <div class="row mt-5">
    <h5 class="title">PREVIOUS</h5>
  </div>
  <div class="row previous">
    {% for project in page.previous_projects %}
      <div class="col-md-5 col-sm-6 p-3 my-3 mr-4 card text-center">
        <a href="{{ project[1].link }}">
          <img src="{{ site.baseurl }}{{ project[1].image }}" class="card-img-top img-fluid" alt="..." />
          <div class="card-img-overlay">
            <h5 class="card-title">{{ project[1].title }}</h5>
            <p class="card-text title">{{ project[1].subtitle | upcase }}</p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>