nav {
  .navbar-brand {
    font-size: 24px;
    color: black;
  }
  .nav-item {
    color: black;
  }
  .nav-item:hover {
    text-decoration: line-through;
  }
  .nav-item:active {
    color: darkgray;
  }
}