---
layout: default
title: Clarissa Gunawan | Medispenser
---

<div id="medispenser" class="portfolio">
  {% include portfolio_title.html title="Medispenser" icon="prescription-bottle" description="automated pill dispenser" duration="Sep-Apr'18" %}
  <div class="row">
    <div class="offset-lg-2 col-lg-4 offset-md-1 col-md-5">
      <img class="pl-5" src="{{site.baseurl}}/assets/savvy-bulb/hardware.jpg" alt="Medispenser Prototype" width="100%"/>
    </div>
    <div class="col-lg-4 col-md-5 px-4 intro">
      <p>
        The project’s aim is to build an easy to use light bulb adapter which turns any standard light bulb into a smart light. This allows any light bulb to be remotely controlled.
      </p>
      <h5>Components</h5>
      <ul>
        <li>Hardware: AC/DC dimming circuit</li>
        <li>Firmware: Particle IOT board (old name: Spark)</li>
        <li>User Interfaces: iOS, Android, Web</li>
        <li>Enclosure: 3D-printed body</li>
      </ul>
    </div>
  </div>
  {% include separator.html icon="angle-double-right" %}
  <div class="row my-part">
    <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 my-4">
      <p class="text-center">
      Built the website interface which communicates with the Particle board that controls the dimming circuit.
      </p>
    </div>
  </div>
  {% include separator.html icon="angle-double-left" %}
  <div class="row process">
    <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 my-4">
      <h3 class="text-center">Final Design</h3>
      <h5 class="text-center">
        <i class="fab fa-html5"></i> &middot;
        <i class="fab fa-css3-alt"></i> &middot;
        <i class="fab fa-js-square"></i> &middot;
        jQuery
      </h5>

      <p></p>
      <h5>Features:</h5>
      <ul>
        <li>On/Off</li>
        <li>Dimming</li>
        <li>Strobe Lights</li>
        <li>Alarm</li>
        <li>Timer</li>
      </ul>
      <img src="{{site.baseurl}}/assets/savvy-bulb/interface.png" alt="Savvy Bulb Interface" width="100%"/>
      <!-- <img src="{{site.baseurl}}/assets/savvy-bulb/login.png" alt="Savvy Bulb Particle Login" width="50%"/> -->
      <!-- <img src="{{site.baseurl}}/assets/savvy-bulb/list.png" alt="Savvy Bulb Multiple Lights" width="100%"/>
      <img src="{{site.baseurl}}/assets/savvy-bulb/state-close.png" alt="Savvy Bulb Light Close State" width="100%"/> -->
      <p>Expanded View of A Bulb</p>
      <img src="{{site.baseurl}}/assets/savvy-bulb/state-open.png" alt="Savvy Bulb Light Open State" width="100%"/>
      <p>On and Off States of the Bulb</p>
      <img src="{{site.baseurl}}/assets/savvy-bulb/switch-off.png" alt="Savvy Bulb Switch Off" height="93px" />
      <img src="{{site.baseurl}}/assets/savvy-bulb/switch-on.png" alt="Savvy Bulb Switch On" height="93px"/>
      <p>Sortable Lights</p>
      <img src="{{site.baseurl}}/assets/savvy-bulb/sort.gif" alt="Savvy Bulb Sortable Lights" width="100%" />


    </div>
  </div>
  {% include separator.html icon="angle-double-right" %}
  <div class="row improvement">
    <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8">
      <h5>Future Improvements</h5>
      <h6><i class="fa fa-code-branch"></i>&nbsp;Lessons Learned</h6>
      <ul>
        <li>Focus more on the most important features first. The most important features are communication with the Particle board and the dimming interface, and not the timer, alarm or strobe features</li>
        <li>Better ways to change the state of a button aside from the toggle function in jQuery</li>
        <li>Eventhough websites are viewed on larger screens, the slider must be at a comfortable length for users to easily slide</li>
        <li>Refactor brute force functions into more reusable components</li>
        <li>Do user interaction interviews to recieve feedback on each components' usability</li>
      </ul>
      <h6><i class="fa fa-code-branch"></i>&nbsp;Building a Back-End</h6>
      <ul>
        <li>User login that automatically connects to the Particle eco-system</li>
        <li>Store all the lights in the database by creating models</li>
        <li>Create Reusable components</li>
      </ul>
      <h6><i class="fa fa-code-branch"></i>&nbsp;Upgrading the Front-End</h6>
      <ul>
        <li>Replace jQuery with React for faster response times</li>
        <li>Replace Ajax calls with fetch (and promises)</li>
        <li>Store light states in React Components and call fetch to update display</li>
        <li>Improve design by starting with a mobile-first approach</li>
        <li>Update page by getting the current brightness from the Particle board every # of seconds to be compatible with multiple devices (iOS or Android)</li>
      </ul>
    </div>
  </div>
</div>
